.curtain {
  width: 100dvw;
  height: 100dvh;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.185);
  display: flex;
  justify-content: center;
  align-items: center;

  &--closed {
    display: none;
  }
}

.modal {
  display: flex;
  width: 400px;
  height: 400px;
  background-color: antiquewhite;
}
